svg {
    background-color: #87CEEB;
}

circle {
    fill: yellow;
    stroke: black;
    stroke-width: 1px;
}

textPath{
    font-size: small;
}

text {
    transform: translate(0px, -10px);
}

path {
    stroke: black;
    fill: none;
    transform: translate(600px, 10px) rotate(15deg);
}

#pyramids {
    fill: #A52A2A;
}